<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.BlogCategoryMapper">

    <delete id="deleteByIds">
        delete from `blog_category` where `id` in (
            <foreach collection="categoryIdList" item="categoryId" separator=",">
                #{categoryId}
            </foreach>
        )
    </delete>

    <!--************************* 代码生成 *************************-->
    <!--代码生成-查询单个-->
    <select id="queryById" resultType="com.blog.entity.BlogCategory">
        select *

        from `blog_category`
        where `id` = #{id}
    </select>

    <!--代码生成-查询指定行数据-->
    <select id="queryAllByLimit" resultType="com.blog.entity.BlogCategory">
        select *

        from `blog_category`
        <where>
            <if test="blogCategory.id != null">
                and `id` = #{blogCategory.id}
            </if>
            <if test="blogCategory.categoryName != null and blogCategory.categoryName != ''">
                and `category_name` like concat('%',#{blogCategory.categoryName},'%')
            </if>
            <if test="blogCategory.createdAt != null">
                and `created_at` = #{blogCategory.createdAt}
            </if>
            <if test="blogCategory.updatedAt != null">
                and `updated_at` = #{blogCategory.updatedAt}
            </if>
        </where>
        <if test="sort != null">
            order by `updated_at` desc
        </if>
        <if test="pageLimit != null">
            limit #{pageLimit.offset}, #{pageLimit.pageSize}
        </if>

    </select>

    <!--代码生成-统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from `blog_category`
        <where>
            <if test="id != null">
                and `id` = #{id}
            </if>
            <if test="categoryName != null and categoryName != ''">
                and `category_name` = #{categoryName}
            </if>
            <if test="createdAt != null">
                and `created_at` = #{createdAt}
            </if>
            <if test="updatedAt != null">
                and `updated_at` = #{updatedAt}
            </if>
        </where>
    </select>

    <!--代码生成-新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into `blog_category`(`category_name`, `created_at`, `updated_at`)
        values (#{categoryName}, #{createdAt}, #{updatedAt})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into `blog_category`(`category_name`, `created_at`, `updated_at`)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.categoryName}, #{entity.createdAt}, #{entity.updatedAt})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into `blog_category`(`category_name`, `created_at`, `updated_at`)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.categoryName}, #{entity.createdAt}, #{entity.updatedAt})
        </foreach>
        on duplicate key update
        `category_name` = values(category_name),
        `created_at` = values(created_at),
        `updated_at` = values(updated_at)
    </insert>

    <!--代码生成-通过主键修改数据-->
    <update id="update">
        update `blog_category`
        <set>
            <if test="categoryName != null and categoryName != ''">
                `category_name` = #{categoryName},
            </if>
            <if test="createdAt != null">
                `created_at` = #{createdAt},
            </if>
            <if test="updatedAt != null">
                `updated_at` = #{updatedAt},
            </if>
        </set>
        where `id` = #{id}
    </update>

    <!--代码生成-通过主键删除-->
    <delete id="deleteById">
        delete
        from `blog_category`
        where `id` = #{id}
    </delete>

</mapper>

